# Add any directories, files, or patterns you don't want to be tracked by version control
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
npm-debug.log*
.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
/www/
$RECYCLE.BIN/
platforms/
/.sourcemaps/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
.sentryclirc
/build.json
build/