<table>
    <tr class="table-head">
        <th *ngFor="let label of labels; let i = index; trackBy: index" class="table-labels"
            (click)="sortBy(itemsInView, i)">
            {{label | uppercase}} <span class="rotatable-span"
                [ngClass]="{'turn-down': descending, 'turn-up': !descending,'blue-text': label === arrowPointer}">&#9662;</span>
        </th>
    </tr>
    <tr *ngFor="let row of itemsInView" class="table-rows">
        <td *ngFor="let key of keys" class="table-cells">{{row[key]}}</td>
    </tr>
</table>


<div class="flex-container" *ngIf="rows && rows.length > 10">
    <div class="pagination">
        <button (click)="setPage(0)" class="hover-text">First</button>
        <button (click)="setPage(-1)" class="hover-text" [disabled]="isFirstPage$ | async">Previous</button>
        <span>Page {{currentPage$.getValue() + 1}} of {{ totalPages$ | async}} &nbsp;|&nbsp; {{rows.length}} Rows</span>
        <button (click)="setPage(1)" class="hover-text" [disabled]="isLastPage$ | async">Next</button>
        <button (click)="setPage(-2)" class="hover-text">Last</button>
    </div>
    <ion-item>
        <ion-label>Display Rows</ion-label>
        <ion-select [ngModel]="itemsPerPage$ | async" multiple="false" (ionChange)="changeItemsPerPage($event)">
            <ion-option *ngFor="let num of [10, 20, 30, 40]" [value]="num">
                {{ num }}
            </ion-option>
        </ion-select>
    </ion-item>
</div>